# Folders
.git
.github
.nyc_output
.vscode
coverage
dist
node_modules

# Files
.dockerignore
.env
.eslintignore
.eslintrc.js
.gitignore
.mocharc.json
.nycrc
.prettierignore
.prettierrc
DEVELOPING.md
Dockerfile
README.md
sonar-project.properties
tsconfig.tsbuildinfo
.yo-rc.json
